@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visual Studio Course Assignment 94</title>
</head>
<body style="background-color: black; color: gold;"
      STYLE #myContainer="width: 400px; height: 400px; position: relative; background: yellow;"
      STYLE #myAnimation="width: 50px; height: 50px; position: absolute; background: red;">

<div id="center" style="align-content: center; text-align: center;"
    <h1>
        Visual Studio Course Assignment 94 <h1>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/CWh4xHeFMIQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h1> Some simple animation </h1>

    <canvas id="canvas" width="300" height="300"></canvas>
</div>


</body>
</html>
